.player-button {
    border: none;
    background-color: black;
    font-size: 1.2em;
    padding: 10px;
}

.player-icon {
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.button-group-line {
    background-color: black;
    display: flex;
}

.player-container {
    flex-grow: 1;
}

.player-space {
    display: flex;
    flex-grow: 1;
    color: white;
    padding-top: 10px;
}

.player-time-digits {
    flex-grow: 1;
}

.player-time-line {
    flex-grow: 999;
    height: 19px;
    background-color: grey;
}

.player-time {
    font-family: 'Roboto';
}

.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
}